<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Success</h2>
        <div class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
       
        <a href="/students/addStudent" class="btn btn-success">Register Another Student</a>
   
    
    <a href="/students/all_students" class="btn btn-primary">View All Students</a>
    
    </div>
   
</body>
</html>
